@media screen and (max-width:992px){
    header{
        width: 90%;
        height: 8vh;
    }
    .sec-one{
        height: 48vw;
        max-height: 65vh;
        padding: 5% 5% 3% 5%;
    }
    .container-1 h1{
        font-size: 5.7vw;
        line-height: 90%;
    }
    .container-1 p{
        margin: 4% 0;
    }
    .container-2__people{
        width: 330px;
        min-width: 0;
        max-width: 40vw;
    }
    .border-2{
        margin: auto;
        left: 0;
    }
    .sec-two{
        text-align: center;
        padding: 0 5%;
    }
    .sec-two h1{
        font-size: 6vw;
    }
    .sec-work h1{
        font:400 5vw "DM Serif Display", serif;
        line-height: 90%;
    }
    .footer__list{
        font: bold 0.7em karla, sans-serif;
    }
    ul .item--gray{
        font-size: 1em;
    }
}

@media screen and (max-width:767px){
    header{
        height: 20vw;
        align-items: center;
    }

    .logo{
        width: 35%;
    }

    .nav-link{
        display: flex;
        align-items: center;
    }
    .nav-link__item{
        display: none;
    }
    .item--menu{
        display: inline-block;
        transform: translate(0, 3px);
    }
    .item--menu a{
        color: black;
        font-size: 18px;
        padding: 5px;
        padding-top: 11px;
        padding-bottom: 0;
        border: 2px solid black;
    }
    .sec-one{
        flex-direction: column-reverse;
        align-items: center; 
        text-align: center;
        max-height: 9999vh;
        height: auto;
        padding: 0;
        padding-bottom: 5%;
    }
    .people--mobile{
        display: none;
    }
    .people--desk{
        display: inline-block;
    }
    .container-2{
        width: 100%;
    }
    .container-2__people{
        max-width: 0;
        min-width: 100vw;
    }
    .wave-desktop{
        display: none;
    }
    .wave-mobile{
        display: inline-block;
    }
    .container-1{
        width: 90%;
        margin: auto;
        align-items: center;
        padding: 25% 0;
        position: relative;
    }
    .sec-one__wave-left-mob{
        position: absolute;
        top: -4px;
        left: -5%;
        width: 50%;
    }
    .sec-one__wave-right-mob{
        position: absolute;
        bottom:-50%;
        right: -5%;
        width: 42%;
    }
    .container-1 h1{
        font-size: 12vw;
    }
    .container-1 p{
        font-size: 17px;
    }
    .container-1 button{
        width: 150px;
        height: 40px;
    }
    .border{
        display: none;
    }
    .sec-two{
        margin: 50% 0;
        margin-bottom:40% ;
    }
    .border-2{
        width: 50vw;
        top:40vw;
    }
    .sec-two h1{
        font-size: 13vw;
    }
    .sec-two__cards{
        flex-direction: column;
        margin-top: 20%;
        gap:4em
    }
    .sec-work{
        margin: 5% auto;
        width: 90%;
        flex-direction: column;
        position: relative;
        text-align: center;
        padding: 20% 5%;
    }
    .sec-work h1{
        font-size: 11vw;
        line-height: 100%;
        position: relative;
    }
    .sec-work__btn{
        width: 50%;
        height: 40px;
        position: relative;
        right: 0;
        margin-top: 15%;
        font-weight: 500;
    }
    .sec-work__wave-right-mob{
        position:absolute;
        right: 0;
        top: 0;
        width: 55%;
    }
    .container-network{
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 10% 0;

    }
    .network__logo{
        position: relative;
        left: 0;
    }
    .container-network__wave-mob{
        position: absolute;
        top: 0;
        left: 0;
    }
    .network__item a i{
        position: relative;
        font-size: 25px;
    }
    .footer__list{
        display: flex;
        flex-direction: column;
        font-size: 1em;
        text-align: center;
        gap: 30px;
        margin:15% auto;
    }
}